body{
  background-image: url(../images/pizza-order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.order-up{
  padding: 3%;
  left: 5%;
}
form{
  padding: 2px;
  margin: 3px;
}