
body{
  background-image: url(../images/pizza-order.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
h5.fill{
  text-align: left;
}
.order-up{
  padding: 3%;
  left: 5%;
}
form{
  padding: 5%;
  margin: 3px;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}
.foot{
  bottom: 20%;
}
a.order-up{
  text-decoration: none;
  color: white;
}