body{
  background-image: url(../images/pizza-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
#palace{
  text-decoration: underline;
}
.welcome{
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
.pizza{
  padding: 5%;
}

/*menu*/
.menu-size{
  border: 2px solid yellow;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-weight: 500;
}
button{
  padding: 5px;
}
#button{
  padding: 3%;
}
a.order{
  text-decoration: none;
  color: white;
}

/*footer*/
.foot{
  padding: 3%;
}